.listitemStyle {
    display : flex;
    justify-content : space-between;
    align-items : center;
    width : 100%;
    height : 1rem;
    border-bottom : 2px black solid;
    font-size : 20px;
    padding: 30px 10px;
}

.listitemStyle:hover {
    cursor: pointer;
    background: rgba(46, 49, 54, 0.2);
}

.addtaskStyle {
    width : 200%;
    height: 100%;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.inputStyle {
    /* display: inline-block; */
    text-decoration : none;
    width : 85%;
    height : 2rem;
    background : rgba(46, 49, 54, 0.2);
    border : 1px solid gray;
    border-radius : 5px;
    outline : None;
    color : white;
    font-size : 20px;
    padding : 5px 0px;
}

.inputStyle:hover {
    cursor: pointer;
}

.checkBoxStyle {
    width: 20px;
    height: 20px;
    padding-right : 40px;
}

.buttonStyle {
    color : white;
    display: block;
    font-size: 20px;
    border-radius: 5px;
    padding : 1px 15px;
    background-color: rgba(46, 49, 54);
}

.buttonStyle:hover {
    cursor: pointer;
}